.home {
	padding: 25px 0;
	.form-container {
		margin-bottom: 15px;
	}
	.content-box {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 25px 15px;
		justify-content: space-between;
	}
}
