.main-section__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	.form-container {
		margin: 20px 0;
	}
	.boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 80%;
	}
}
